body{
    margin:0; 
}

section{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#animar{
    height: 100px;
    width: 100px;
    border: solid 2px black;
    background-color: red;
    animation-name: mover; 
    animation-duration: 4s; 
    animation-timing-function: linear; 
    animation-iteration-count: 2;
    animation-delay: 2s; 
    animation-direction: normal; 
}

@keyframes mover {
    0%{
        background-color: red;
    }
    25%{
        transform:translateX(-500px);
        background-color: yellow;
    }
    50%{
        transform:translateX(0);
        background-color:blue;  
    }
    75%{
        transform:translateX(500px);
        background-color: green;
    }
    100%{
        transform: translateX(0);
        background-color: red; 
    }
}